.bg-purple{
    background-color: rgb(149, 56, 226);
}

.text-purple{
    color: rgb(149, 56, 226);
}

.banner-img-bg{
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-green{
    background-color: rgba(48, 156, 8, 0.1);
    color: rgb(48, 156, 8);
}